.profile {
  max-width: 880px;
  margin: 36.25px auto 40px;
  display: flex;
  justify-content: space-between;
}


@media screen and (max-width: 900px) {
  .profile {
    flex-direction: column;
  }
}
