.elements {
  max-width: 880px;
  margin: 0 auto;
  width: 100%;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-column-gap: 17px;
  grid-row-gap: 20px;
}

@media screen and (max-width: 768px) {
  .elements {
    grid-template-columns: repeat(2,minmax(0,1fr));
  }
}

@media screen and (max-width: 450px) {
  .elements {
    grid-template-columns: repeat(1,minmax(0,1fr));
  }
}
