.popup__close-btn {
  width: 32px;
  height: 32px;
  background-image: url(../../popup/__close/popup__close.css);
  position: absolute;
  /* top: -40px;
  right: -40px; */
  border: 1px solid red;

}
